* {
    margin: 0;
    padding: 0; }

hml{
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
  background-size: cover;
  background-repeat: no-repeat;
  min-height:100vh;
}

.container{
  box-sizing: border-box;
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-radius: 10px;
  background-color: #F9F5F3;
}

.navbar{
  background-color: orange !important;
}

.navbar-brand {
    font-family: cursive;
}


.search__btn{
  width:fit-content;
background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
color: #fff;
}
.btn:hover {
  transform: scale(1.03); }
.btn:focus {
  outline: none; }


.btn {
  padding: 0.9rem 2rem;
  font-size: 1rem;
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all .2s; }


/* search (home page) */

.search_form{
  margin-top: 4vh;
  margin-bottom: 4vh;
  width: 100%;
}

.search {
  height: 7vh;
  background-color: #fff;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  transition: all .3s; }

  .search:focus-within {
    transform: translateY(-2px);
    box-shadow: 0 0.7rem 3rem rgba(101, 90, 86, 0.08); }

  .search__field {
    border: none;
    background: none;
    font-family: inherit;
    font-size: 1.2rem;
    color: inherit;
    width: 100%;
  }
    .search__field:focus {
      outline: none; }

    .search__field::placeholder {
      color: #DAD0CC; }


/* shop_lists */

.shop_list{
    background-color: white;
    border-radius: 10px;
  }

.results {
  padding: 3rem 0; }
  .results__list{
    list-style: none; }
  .results__link:link, .results__link:visited{
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    transition: all .3s;
    border-right: 1px solid #fff;
    text-decoration: none; }
  .results__link:hover{
    background-color: #F9F5F3;
    transform: translateY(-2px); }
  .results__fig{
    border-radius: 100%;
    overflow: hidden;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
    position: relative;
    backface-visibility: hidden; }
    .results__fig::before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
      opacity: .4; }
    .results__fig img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .3s; }
  .results__name{
    font-size: 0.9rem;
    color: #F59A83;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: .3rem; }
  .results__distance{
    font-size: 0.7rem;
    color: #968B87;
    text-transform: uppercase;
    font-weight: 600; }
  .results__pages{
    margin-top: 1rem;
    padding: 0 3rem; }
    .results__pages::after{
      content: "";
      display: table;
      clear: both; }


/* map */
.map_container{
  margin-top: 14vh;

}

#mapid{
  margin: 4wh;
  height: 100vh;
}


/* shop adding form */
.form_heading{
    margin-top: 5vh;

}

.form_btn{
    background-color: white;
    color: #F48982;
    width:110px;
}

.shop_detail{
    position: relative;
}

.edit_btn{
    background-color: white;
    color: #F48982;
    /* position: absolute;
    top:10px;
    right:10px; */
    width:fit-content;
}

.fetch_btn{
    background-color: white;
    color: #F48982;
    width:fit-content;
}


.shop_name{
    font-family: 'Satisfy', cursive;
    text-align: center;
    top:4vh;
}

.Items_list{
    background-color: white;
    height: 80vh;
    border-radius: 10px;
}

.items_prsnt{
    list-style: none;
}

h1,h2{
    font-family:cursive;
}

.item_lists{
    font-family: 'Satisfy', cursive;
    text-align: center;
    padding: 10px;
}

.map_display{
    border-radius: 10px;
}

.itemss{
    list-style-type: square;
}

.items_prsnt{
    background-color: #F59A83;
    text-align: center;
    padding: 2px 10px;
    width:fit-content;
    border-radius: 8px;
    display: inline-block;
    margin-top: 7px;
}

.detail_buttons{
    align-self: end;
}

.d_btn{
    display: inline-block;
    margin-top: 5vh;
    margin-left: 10px;
}

.review_form{
  margin-top: 5vh;
}

.reviews{
  margin-top: 5vh;
  margin-bottom: 3vh;
  background-color: #F9F5F3;
  border-radius: 10px;
}

.reviews_list{
  list-style: none;
  margin-bottom: 10px;
  padding-left: 10px;
}

.reviews_list:hover{
  background-color: #F59A83;
}

.rview{
  padding: 10px;
}

.footer{
  height: 15vh;
  justify-content: center;
  color: black;
}