{% extends 'shops/base.html' %}

{% block content %}

<div class="container front_cnt"  onload="getLocation()">
    <div class="row justify-content-md-center">
        <div class="col-md-6  search_form">
            <form class="search" id="searchform"  method="get">
                <input type="text" class="search__field" placeholder="Search items..." name="q">
                <input type="hidden" class="form-control" id="id_long" name="long">
                <input type="hidden" class="form-control" id="id_lat" name="lat">
                <button type="button" class="btn search__btn" onclick="searchform.submit()"><span>Search</span></button>
            </form>
        
        </div>
    </div>
    <div class="row">
      <div class="col-11  col-md-3 shop_list mr-auto ml-auto order-2 order-md-1 results">
        <ul class="results__list">
            {% if shops %}
                {% for shop in shops %}
                    {% if shop.is_published %}
                        <li>
                            <a class="results__link results__link--active" href="{% url 'shop_detail' pk=shop.pk %}">
                                <figure class="results__fig">
                                    {% if shop.cover_image %}
                                        <img src="{{shop.cover_image.url}}" alt="Test" width="240">
                                    {% endif %}
                                </figure>
                                <div class="results__data">
                                    <h4 class="results__name">{{ shop.name }} </h4>
                                    {% if not shop.distance%}
                                        <p class="results__distance">0 M</p>
                                    {% else %}
                                        <p class="results__distance">{{shop.distance}}</p>
                                    {% endif %}
                                </div>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}

            {% else %}
            <div class="col m-auto">No Shops Found!</div>
            {% endif %}

        </ul>
      </div>
      <div class="col-11 col-md-9 order-1 mr-auto ml-auto order-md-2 map_display" id="mapid"></div>
    </div>
</div>



  <script >
    var latt = document.getElementById("id_lat");
    var lon = document.getElementById("id_long");
    var lat,long;
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        }
    }
    
    function showPosition(position) {
        lat=position.coords.latitude;
        long=position.coords.longitude;
        latt.value=position.coords.latitude;
        lon.value=position.coords.longitude;
        Load_Map();
    }
    function Load_Map(){
        var map = L.map('mapid').setView([lat, long], 12);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([lat, long]).addTo(map)
            .bindPopup('I am in here.<br> Looking for shops.')
            .openPopup();

        {% for shop in shops %}
            var circle = L.marker([{{ shop.lattitude }}, {{ shop.longitude }}]).addTo(map)
            .bindPopup("{{ shop.name }}");
        {% endfor %}

    }
  </script>

{% endblock %}

