{% extends 'shops/base.html' %}

{% block content %}

<div>
  <h2>New Shop</h2>
  <form method="POST" class="post-form" enctype="multipart/form-data">
    {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="save btn btn-default">Save</button>
  </form>


  <button onclick="getLocation()">fetch Location!!</button>
  <p id="demo"></p>


  <script>
      var x = document.getElementById("demo");
      var lat = document.getElementById("id_lattitude");
      var lon = document.getElementById("id_longitude");
      
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else { 
          x.innerHTML = "Geolocation is not supported by this browser.";
        }
      }
      
      function showPosition(position) {
        lat.value=position.coords.latitude;
        lon.value=position.coords.longitude;
      }
      </script>

</div>


{% endblock %}